html, body {
    scroll-behavior: smooth;
}

.special-title {
    padding: 40px;
    display:flex;
    justify-content:center;
    font-weight:bold;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}




.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}

.footer {
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }
 .fa {
   padding: 20px;
   font-size: 30px;
   width: 50px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
 }
 .fa-facebook {
   background: #3B5998;
   color: white;
 }
 
 .fa-twitter {
   background: #55ACEE;
   color: white;
 }
 
 .fa-google {
   background: #dd4b39;
   color: white;
 }
 .fa-youtube {
    background: #dd4b39;
    color: red;
  }
 
 #slider {
     width: 80vw;
     height: 300px;
     border-radius: 15px;
     border: solid black 1px;
     margin: auto;
     margin-top: 20px;
     position: relative;
 }

 .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  #tytul, #tresc {
    position: absolute;
    top: 10%;
    left: 10%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
  }

  #tresc {
      top: 75%
  }

  .special-article {

    display: flex;
    justify-content: center;

  }

  .blog-img {

    width:60%;
    height:200px;
    box-shadow: 4px 4px 10px -3px rgba(66, 68, 90, 1);

  }
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 50px;
    height: 6px;
    margin-right: 0cm;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  
  article {

    padding: 5%;
    border-radius: 10px;
    background-color:#50b4ce;
    margin-bottom: 5%;
    box-shadow: 4px 4px 10px -3px rgba(66, 68, 90, 1);
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.51);

  }

  .blog_shadow_text {

    text-shadow: 3px 3px 4px rgba(0,0,0,0.51);

  }